@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}

.prose p,
.prose a,
.prose span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
