@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif antialiased;
}

.prism-code {
  display: flex;
  flex-direction: column;
}

.prism-code > .token-line {
  flex: 1;
}

.prism-code > .token-line.highlight-line {
  background-color: rgba(255, 255, 0, 0.1);
  width: fit-content;
}

.prose p,
.prose a,
.prose span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.prose > p:first-of-type::first-line {
  font-variant: small-caps;
  font-weight: 500;
}

@font-face {
  font-family: "Triplicate T4c";
  src: url("/fonts/TriplicateT4c.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Triplicate T4c";
  src: url("/fonts/TriplicateT4c-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Triplicate T4c";
  src: url("/fonts/TriplicateT4c-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Triplicate T4c";
  src: url("/fonts/TriplicateT4c-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/SourceSerifVariable-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/SourceSerifVariable-Italic.woff2") format("woff2");
}
